# Build output
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/

# Test results
TestResults/

# OS
.DS_Store
Thumbs.db

# Local game dependencies / symlinks
/game_libs
/mods_folder

# Optional: publish outputs
publish/

# Other
.codex